.widget {
  color: #bfbfbf;
  background: transparent;
}
.widget a {
  color: #bfbfbf;
  text-decoration: none;
}
.widget a:hover {
  color: #0085a1;
  text-decoration: none;
}
.widget ul ul,
.widget ol ul,
.widget ul ol,
.widget ol ol {
  margin-left: 0 10px;
ul
  list-style: disc;
}
.widget ul ul ol,
.widget ol ul ol,
.widget ul ol ol,
.widget ol ol ol {
  list-style: decimal;
}
.tp {
  height: 39px;
  width: 39px;
  cursor: pointer;
}
.qq {
  background-image: url("images/qq.png");
}
.qq:hover {
  background-image: url("images/qq1.png");
}
.wx {
  background-image: url("images/wx.png");
}
.wx:hover {
  background-image: url("images/wx1.png");
}
.gitee {
  background-image: url("images/G2.png");
}
.gitee:hover {
  background-image: url("images/G1.png");
}
.qqq {
  background-image: url("images/qqq.png");
}
.qqq:hover {
  background-image: url("images/qqq1.png");
}
.github {
  background-image: url("images/github.png");
}
.github:hover {
  background-image: url("images/github1.png");
}
.category-list-count,
.tag-list-count,
.archive-list-count {
  padding-left: 5px;
  color: color-grey;
  font-size: 0.85em;
}
.category-list-count:before,
.tag-list-count:before,
.archive-list-count:before {
  content: "(";
}
.category-list-count:after,
.tag-list-count:after,
.archive-list-count:after {
  content: ")";
}
#avatar_pic {
  max-height: 200px;
  max-width: 200px;
}
